ai-edge-litert
ai-edge-torch
apache-tvm
matplotlib
nni==2.9
numpy
onnx
onnx_tf
Pillow
scikit_learn
tensorflow
tensorflow-model-optimization
tensorflow-probability
tf-keras
tflite
torch
torchvision
tqdm
xgboost==1.7.6
